%h1.text-center
  Active Projects
  / %small= link_to 'New Project', new_project_path
  = render 'form'

.row
  .large-9.large-centered.columns
    %table
      %thead
        %tr
          %th Name
          %th Subscribed
          %th Last updated
          %th
          %th
      %tbody.projects
        - @projects.each do |project|
          = render 'show', project: project
          / we can pass local variables to our partial as well. We normally do this by adding another key-value argument to our render, with the key being equal to the variable we want to pass, and the value equal to the variable we are passing. Since we're actually going to pass our block variable project and our partial is looking for a variable called project, they end up being the same here
